html {
  font-weight: normal;
  font-family: "Pacifico", cursive;
  background-color: #a3aaae;
}

h1,
h2 {
  text-align: center;

  font-size: 45px;
  text-shadow: 0 2px 2px rgb(43, 44, 40);
  color: silver;
}
